@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable
@{
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion Projet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="~/Content/gif1.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("SideBar")
    <form method="post" name="Display">
        @{
            if (Model.Rows.Count > 0)
            {
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    @foreach (DataRow dr in Model.Rows)
                    {
                <tr>
                    <td>@dr["Name"].ToString()  </td>
                    <td>@dr["ProjectName"].ToString()  </td>
                    <td>@Html.ActionLink("Delete ", "Delete1",new { ProjectName=dr["ProjectName"], Name = dr["Name"] })</td>


                </tr>
                    }
                </table>
            }
            else
            {
                <span> No records found!!</span>
            }


        }
        </form>




</body>
</html>
