@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable

<html>
<head>
    <script type="text/javascript">

    </script>
    @Styles.Render("~/Styles/style1.css")
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="~/Content/gif1.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("SideBar")
    <section class="w3l-simple-contact-form1">
        <div class="contact-form section-gap">
            <div class="wrapper">
                <div class="contact-form" style="max-width: 450px; margin: 0 auto;">
                    <div class="form-mid">
                        <form method="post" id="frmDetail" action="@Url.Action("UpdateRecord")">
                            <div class="field">
                                <input type="text" class="form-control" name="login" id="w3lName" value="@Model.Rows[0]["username"]" placeholder="Login">
                            </div>
                            <div class="field">
                                <input type="password" class="form-control" name="password" value="@Model.Rows[0]["Password"]" id="w3lSender" placeholder="Password">
                            </div>
                            <div class="field">
                                <input type="text" class="form-control" name="txtName" id="w3lSubject" value="@Model.Rows[0]["Name"]" placeholder="Name">
                            </div>
                            <div class="field">
                                <input type="text" class="form-control" name="lastname" id="w3lSubject" value="@Model.Rows[0]["Last_Name"]" placeholder="Last_Name">
                            </div>
                            <div class="field">
                                <input type="text" class="form-control" name="roleid" id="w3lSubject" value="@Model.Rows[0]["roleid"]" placeholder="RoleId">
                            </div>

                            <input type="hidden" name="hdnID" value="@Model.Rows[0]["id"]">

                            <div>
                                <input type="submit" value="Submit" class="btn btn-info" name="action" />
                                <input type="submit" value="Cancel" class="btn btn-info" name="action" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

