@model ihebsalimprojet.Models.ProjectUserIndexModel
@{
    ViewBag.Title = "create";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion Projet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script>
        function fillCheck() {

            $('.UsersCheck').each(function () {
                if ($(this).is(":checked")) {

                    $('#SelectedUsers').val($('#SelectedUsers').val() + ',' + $(this).attr('title'));
                }
            });

            
            return true;
        }
    </script>
</head>
<body>
    @Html.Partial("SideBar")
    @using (Html.BeginForm("create", "ProjectUser", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return fillCheck()" }))
    {
        <input type="hidden" id="SelectedUsers" name="SelectedUsers"/>
        <input type="hidden" id="SelectedProject" name="SelectedProject"/>
        <table style="width: 500px;" border="1">
            <tr>
                <th scope="col">Users</th>
                <th scope="col">Projects</th>
            </tr>

            <tr>
                <td>
                    @for (int i = 0; i < Model.Users.Count; i++)
                    {



                        @Html.CheckBoxFor(model => model.Users[i].IsChecked, new { @class = "UsersCheck", @title = Model.Users[i].Id })
                        <label>@Model.Users[i].UserName</label><br />
                        @Html.HiddenFor(model => model.Users[i].Id)
                        @Html.HiddenFor(model => model.Users[i].UserName)



                    }

                </td>
               

            </tr>


        </table>
        <input type="submit" value="save" />
    }
</body>
</html>

